.blog-template-default,
.noticias-template-default {
    .c-content{
        background-color: $white;
        z-index: 200;
        .flex{
            @include display-flex;
            @include justify-content(space-evenly);
            @include respond-above(md){
                @include flex-direction-row;
                .--izq{
                    @include flex(0,0,10%);
                }
                .c-content{
                    @include flex(0,0,65%);
                }
                .--dcha{
                    @include flex(0,0,15%);
                }
            }
            @include respond-below(md){
                @include flex-direction-column;
            }
        }
        @include respond-above(md){
            padding-top: 60px;
            padding-bottom: 170px;
        }
        @include respond-below(md){
            padding-top: 20px;
            padding-bottom: 100px;
        }
    }

}