//
// Vars
//

//
// Styles
//

.b-entrada {
  .post-type-archive-blog &,
  .post-type-archive-noticias &,
  .search &,
  .tag & {
    margin-bottom: $v-unit-l;

    .wrapper {
      display: block;
      .title{
        transition: color 0.3s linear;
      }
      picture {
        position: relative;
        z-index: 5;
        display: block;

        img {
          display: block;
          border-radius: $br-thin;
        }
      }

      .e-arrow {
        position: absolute;
        z-index: 6;
        width: 32px;
        height: 10px;
        color: $white;
        bottom: $v-unit-l;
        right: 25px;
        .ico-flecha:before{
          transition: color 0.3s linear;
        }
      }

      &:hover{
        .title,
        .ico-flecha:before{
          color: $new;
        }
      }

    }

    @include respond-below(md) {
      @include flex(0, 0, 100%);
    }
  }

  .post-type-archive-blog & {
    .wrapper {
      .title {
        margin-bottom: $v-unit-m;
        font-size: $fs-large;
        font-weight: bolder;
        min-height: $v-unit-xl;
      }

      picture {
        img {
          width: 100%;
        }
      }
    }

    @include respond-above(sm) {
      @include flex(0, 0, 48%);
    }

    @include respond-below(sm) {
      @include flex(0, 0, 100%);
    }
  }

  .post-type-archive-noticias & {
    background-color: $beige-franjas2;
    border-radius: 30px;

    .wrapper {
      picture {
        min-height: 280px;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        position: relative;

        img {
          display: block;
          position: absolute;
          height: 100%;
          object-fit: cover;
          top: 0;
          left: -50%;
          right: -50%;
          margin: auto;
        }
      }

      .e-content {
        padding: 0 $v-unit-m $v-unit-m;
      }

      .title {
        font-size: $fs-veintiocho;
        font-weight: bolder;
      }

      .e-date {
        margin-bottom: $v-unit-m;
      }
    }

    @include respond-above(md) {
      @include flex(0, 0, 30%);
    }

    @include respond-between(xs, md) {
      @include flex(0, 0, 47%);
    }

    @include respond-below(xs) {
      @include flex(0, 0, 100%);
    }
  }
}
